/* Variables */
$primary-color: #72331f;
$secondary-color: #E9E4D1;
$error-color: #CB3B1C;

/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: $secondary-color;
  color: $primary-color;
  margin: 0; /* Виправлення відступу від краю сторінки */
}

h1 {
  color: $primary-color;
  text-align: center;
}

form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: $secondary-color;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  color: $primary-color;
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid $primary-color;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: darken($primary-color, 10%);
}

/* Optional: Add styles for form validation */
input:invalid,
textarea:invalid {
  border-color: $error-color;
}

input[type="submit"]:disabled {
  background-color: lighten($primary-color, 20%);
  cursor: not-allowed;
}

.button {
  display: inline-block;
  background-color: $primary-color;
  color: $secondary-color;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none; /* Додаємо для відсутності підкреслення */
}

.button:hover {
  background-color: darken($primary-color, 10%);
}